---
import Layout from '../layouts/Layout.astro';
import AutoScout24Banner from '../components/AutoScout24Banner.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import FAQ from '../components/FAQ.astro';
import CallToAction from '../components/CallToAction.astro';
import HowItWorks from '../components/HowItWorks.astro';
import AuctionHighlights from '../components/AuctionHighlights.astro';
import Pricing from '../components/Pricing.astro';
import MidPageCTA from '../components/MidPageCTA.astro';
---

<Layout title="CARAUKTION - Exclusive Car Auctions for Dealers">
  <AutoScout24Banner />
  <div id="banner-spacer" class="h-[120px]"></div>
  <Navbar />
  <main>
    <Hero />
    {/* Temporarily hidden
    <AuctionHighlights />
    <Stats />
    */}
    <HowItWorks />
    <MidPageCTA />
    <Pricing />
    <FAQ />
    <CallToAction />
  </main>
  <Footer />
</Layout>